.aditional {
  padding: 0 20px;
}

.aditional__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.aditional__item {
  margin-bottom: 13px;
  padding-bottom: 20px;
  border-bottom: 1px solid #cdcdcd;
}

.aditional__title {
  position: relative;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  padding: 30px 0 35px 0;
  margin: -1px 0 13px 0;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #cdcdcd;

  &::after {
    content: "";
    width: 53px;
    border: 2px solid #68b738;
    position: absolute;
    bottom: 40px;
    right: -20px;
  }
}

.aditional__name {
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #222222;
  margin-top: 13px;
}

.aditional__info {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  display: flex;
  margin: 13px 0 15px 0;
}

.aditional__quantity {
  margin-right: auto;
}

.aditional__link {
  display: block;
  text-align: center;
}

.aditional__gift {
  background-image: url("../../img/mobile-gift@1x.png");
  background-color: #68b738;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 182px;
  padding: 64px 0 42px 0;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/mobile-gift@2x.png");
  }

  &::before {
    content: "";
    width: 78px;
    height: 80px;
    background-image: url("../../img/icon_gift.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
  }

  .aditional__gift-text {
    font-family: "Arial", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    width: 165px;
    margin: 0;
    align-items: center;
    text-align: center;
    color: #ffffff;
  }
}

@media (min-width: $tablet-width) {
  .aditional {
    padding: 0 30px;
    margin-bottom: 80px;
  }

  .aditional__list {
    border: 1px solid #cdcdcd;
    padding: 27px 38px;
  }

  .aditional__block {
    display: flex;
    margin: 0 0 27px 0;
  }

  .aditional__name {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    margin-right: auto;
  }

  .aditional__info {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
  }

  .aditional__quantity {
    margin: 0;
  }

  .aditional__price {
    margin: 0 0 0 50px;
  }


  .aditional__title {
    position: relative;
    font-size: 36px;
    line-height: 36px;
    padding: 68px 37px 80px 37px;
    border: none;

    &::before {
      width: 300px;
      border: 2px solid #68b738;
      position: absolute;
    }

    &::after {
      width: 328px;
      right: -30px;
      bottom: 90px;
    }
  }

  .aditional__gift {
    background-image: url("../../img/tablet-gift@1x.png");
    box-sizing: border-box;
    min-height: 200px;
    padding: 57px 124px 60px 78px;
    margin-top: 70px;
    flex-direction: row;
    justify-content: space-between;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/tablet-gift@2x.png");
    }
  }
}

@media (min-width: $desktop-width) {
  .aditional {
    padding: 0 110px;
  }

  .aditional__title {
    padding-left: 0;

    &::before {}

    &::after {
      width: 720px;
      right: -110px;
      bottom: 90px;
    }
  }

  .aditional__list {
    border: none;
    width: 896px;
    padding: 0;
    margin: 0;
  }

  .aditional__item {
    display: flex;
    flex-direction: inherit;
    align-items: center;
    margin: 0;
    padding: 17px 0 15px 0;

    &:first-child {
      border-top: 1px solid #cdcdcd;
    }

    &:last-child {
      border-bottom: 1px solid #cdcdcd;
    }
  }

  .aditional__block {
    margin: 0;
    margin-right: auto;
  }

  .aditional__wrapper {
    display: flex;
  }

  .aditional__name {
    width: 162px;
    margin-right: 82px;
  }

  .aditional__quantity {
    width: 133px;
    margin-right: 112px;
  }

  .aditional__price {
    margin: 0;
  }

  .aditional__gift {
    background-image: url("../../img/desktop-gift@1x.png");
    width: 245px;
    padding: 0 0 40px 0;
    margin: 0 0 0 80px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/desktop-gift@2x.png");
    }
  }

  .aditional__link {
    width: 190px;
  }
}
