.button {
  font-size: 14px;
  line-height: 18px;
  font-family: $font-basic;
  font-weight: normal;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 44px;
  color: #ffffff;
  background-color: #68b738;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(#ffffff, 0.3);
  }
}
