.catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  padding: 30px 20px 40px 20px;
  margin: -1px 0 0 0;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

@media (min-width: $tablet-width) {
  .catalog {
    padding: 0 30px;
  }

  .catalog__item {
    position: relative;
    background-color: #f2f2f2;
    padding: 40px 36px;
  }

  .catalog__item--all {
    background-color: #ffffff;
    border: 2px solid #f2f2f2;
  }

  .catalog__title {
    font-size: 60px;
    line-height: 60px;
    border: none;
    margin-bottom: 120px;
    padding: 0;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 140px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    padding: 0 110px;
  }

  .catalog__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    row-gap: 144px;
  }
}
