.catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  padding: 30px 20px 40px 20px;
  margin: -1px 0 0 0;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

@media (min-width: $tablet-width) {
  .catalog {
    padding: 0 30px;
  }

  .catalog__title {
    font-size: 60px;
    line-height: 60px;
    border: none;
    margin-bottom: 120px;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 60px;
    row-gap: 140px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    padding: 0 110px;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 80px;
    row-gap: 145px;
  }
}