.contacts {
  position: relative;

  &::before {
    content: "";
    width: 57px;
    height: 53px;
    background-image: url("../../img/map-pin-mobile.png");
    position: absolute;
    top: 200%;
    left: 43%;
  }
}

.contacts__wrapper {
  display: flex;
  align-items: center;
  padding: 30px 20px 25px 20px;
  background-color: #f2f2f2;
}

.contacts__cooperation {
  font-family: $font-basic;
  font-size: 16px;
  line-height: 18px;
  width: 140px;
  margin-right: auto;
  text-transform: uppercase;
  color: #111111;
}

.contacts__adress {
  font-family: "Arial", sans-serif;
  width: 140px;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

.contacts__img {
  width: 100%;
  height: 362px;
  object-fit: cover;
}

.contacts__img--form {
  display: none;
}

.contacts__map {
  width: 100%;
  height: 362px;
  position: absolute;
}


@media (min-width: $tablet-width) {
  .contacts {
    &::before {
      content: "";
      width: 113px;
      height: 106px;
      background-image: url("../../img/map-pin-tablet.png");
      background-repeat: no-repeat;
      top: 186%;
      left: 43%;
    }
  }

  .contacts__wrapper {
    padding: 66px 70px 51px 70px;
    background-color: #f2f2f2;
  }

  .contacts__img {
    height: 400px;
  }

  .contacts__map {
    height: 400px;
  }

  .contacts__cooperation {
    width: 171px;
    font-size: 20px;
    line-height: 21px;
  }

  .contacts__adress {
    width: 159px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .contacts__street {
    display: block;
    margin-bottom: 20px;
  }

}

@media (min-width: $desktop-width) {
  .contacts {
    &::before {
      content: "";
      top: 131px;
      left: 63%;
    }
  }

  .contacts__wrapper {
    position: absolute;
    background-color: #ffffff;
    width: 570px;
    height: 200px;
    box-sizing: border-box;
    padding: 66px 89px 51px 76px;
    top: 88px;
    z-index: 1;
    margin-right: calc(50% - 610px);
    margin-left: calc(50% - 610px);
  }

  .contacts__adress {
    text-align: left;
  }
}
