.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.copyright__link {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }
}

.copyright__img {
  width: 27px;
  height: 34px;
  fill: #666666;

  &:hover {
    fill: #68b738;
  }

  &:active {
    fill: rgba(104, 183, 56, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    min-width: 160px;
  }

  .copyright__link {
    margin-top: -25px;
  }
}

@media (min-width: $desktop-width) {
  .copyright__link {
    margin-top: 0;
    margin-left: -3px;
  }
}
