.form__section {
  padding: 0 20px 30px 20px;
}

.form__selection-title {
  font-family: $font-basic;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  margin: 0 -20px;
  padding: 30px 20px 40px 20px;
  border-top: 1px solid #d9d9d9;
}

.form__selection-description {
  font-family: $font-basic;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  width: 230px;
  margin: 0 0 40px 0;
  text-transform: uppercase;
}

.form__wrapper {
  padding: 0;
  margin: 0 0 26px 0;
  border: none;

  &:last-child {
    margin: 0;
  }
}

.form__wrapper--user {
  margin-bottom: 27px;
}

.form__wrapper--contact {
  margin-bottom: 30px;
}

.form__wrapper--comment {
  margin-bottom: 23px;
}

.form__block {
  font-family: $font-basic;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: #444444;
  border: none;
  box-sizing: border-box;
}

.form__block--radio {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 20px;
  margin: 0 -20px;
}

.form__block--user {
  margin-bottom: 23px;
}

.form__block--button {
  padding-top: 7px;
}

.form__line {
  display: flex;
  align-items: center;
  margin-bottom: 13px;

  &:last-child {
    margin: 0;
  }
}

.form__line--contacts {
  margin-bottom: 15px;
}

.form__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  margin-right: 15px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.form__label--radio {

  &::before {
    content: "";
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    box-sizing: border-box;
    margin-right: 15px;
  }

  &::after {
    content: "";
    width: 13.5px;
    height: 13.5px;
    background-color: #68b738;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    left: 8px;
    display: none;
  }

  &:hover::before {
    border: 1px solid #bababa;
  }

  &:active {
    opacity: 0.3;
  }
}

.form__label--contact {
  margin-right: 10px;
}

.form__radio:checked+.form__label--radio::after {
  display: block;
}

.form__radio {
  color: #222222;
  display: none;

  &:focus+label::before {
    border: 1px solid #000000;
  }
}

.form__label--checkbox {

  &::before {
    content: "";
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    box-sizing: border-box;
    margin-right: 15px;
  }

  &::after {
    content: "";
    background-image: url("../../img/icon_check.svg");
    background-repeat: no-repeat;
    width: 18px;
    height: 14px;
    transform: translateX(40%);
    position: absolute;
    display: none;
  }

  &:hover::before {
    border: 1px solid #bababa;
  }

  &:active .label__checkbox--text {
    opacity: 0.3;
  }

  &:active::before {
    opacity: 0.3;
  }
}

.form__checkbox:checked+.form__label--checkbox::after {
  display: block;
}

.form__checkbox {
  display: none;
}

.form__field {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  height: 45px;
  flex-grow: 1;
  outline: none;
  padding: 13px 15px;
  margin: 0 0 13px 0;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  color: #444444;
}

.form__field--user {
  border: 1px solid #e7e7e7;
  box-sizing: border-box;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:active,
  &:focus {
    border: 2px solid #444444;
    padding-left: 11px;
    outline: none;
  }

  &:invalid {
    border: 2px solid #ff8282;
  }
}

.form__field--contact {
  padding-right: 35px;
  padding-left: 15px;

  &:active,
  &:focus {
    border: 2px solid #444444;
    outline: none;
    padding-left: 14px;
  }

  &:active+.form__icon,
  &:focus+.form__icon {
    fill: #68b738;

    :disabled {
      border: 2px solid #ff8282;
    }
  }
}

.form__icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.form__icon--mail {
  width: 20px;
  height: 14px;
}

.form__icon--phone {
  width: 20px;
  height: 20px;
}

.form__field-wrapper {
  position: relative;
  flex-grow: 1;
  display: flex;

  &::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    background-repeat: no-repeat;
    top: 50%;
    transform: translateY(-50%);
  }
}

.form__title {
  font-size: 24px;
  font-weight: normal;
  line-height: 26px;
  padding-right: 20px;
  margin: 0 0 32px 0;
  background-color: #ffffff;
}

.form__comment {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  border: 1px solid #e7e7e7;
  resize: none;
  padding: 13px;
  outline: none;

  &:active,
  &:focus {
    border: 2px solid #444444;
    padding: 12px;
  }
}

.form__button {
  display: block;
  width: 100%;
  padding: 10px 44px;
  margin-bottom: 22px;
  border: none;
}

.form__legend {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: none;
  color: #000000;
  display: block;
}

.form__additionally {
  padding: 0;
}

@media (min-width: $tablet-width) {
  .form__section {
    padding: 0;
  }

  .form__selection-title {
    font-size: 60px;
    line-height: 60px;
    padding: 40px 45px;
    border: none;
  }

  .form__title {
    padding: 0 40px;
    margin-left: -40px;
  }

  .form__selection-description {
    font-size: 20px;
    line-height: 30px;
    width: 323px;
    margin: 0 0 65px 70px;
  }

  .form__wrapper {
    padding: 0 70px;
  }

  .form__wrapper--contact {
    margin-bottom: 65px;
  }

  .form__wrapper--comment {
    margin-bottom: 60px;
  }

  .form__wrapper--additional {
    margin-bottom: 55px;
  }

  .form__block {
    border: none;
  }

  .form__block--radio {
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    padding: 23px 28px;
    margin: 0;
  }

  .form__block--checkbox {
    display: grid;
    grid-template-columns: 45% 45%;
    row-gap: 33px;
    justify-content: space-between;
  }

  .form__line {
    margin-bottom: 20px;
  }

  .form__line--radio {
    margin-bottom: 13px;
  }

  .form__line--checkbox {
    margin-bottom: 0;
  }

  .form__label {
    font-size: 20px;
    line-height: 30px;
  }

  .form__label--radio {
    &::before {
      width: 40px;
      height: 40px;
      margin-right: 20px;
    }

    &::after {
      width: 18px;
      height: 18px;
      left: 11px;
    }
  }

  .form__label--contact {
    margin-right: 20px;
  }

  .form__label--checkbox {
    &::before {
      width: 40px;
      height: 40px;
      margin-right: 19px;
    }

    &::after {
      transform: translateX(70%);
    }
  }

  .form__field {
    padding: 11px 20px;
    font-size: 20px;
    line-height: 30px;

    &:active,
    &:focus {
      padding-left: 19px;
    }
  }

  .form__field--contact {
    padding-right: 40px;
  }

  .form__icon--mail {
    width: 18px;
    height: 13px;
  }

  .form__field-wrapper--email {
    &::after {
      right: 15px;
    }
  }

  .form__field-wrapper--tel {
    &::after {
      right: 15px;
    }
  }

  .form__button {
    font-size: 20px;
    display: inline-block;
    width: auto;
    padding: 16px 64px;
    margin: 0 60px 0 0;
    vertical-align: middle;
    box-sizing: border-box;
  }

  .form__block--button {
    margin-bottom: 70px;
  }

  .form__legend {
    font-size: 16px;
    display: inline-block;
  }
}

@media (min-width: $desktop-width) {
  .form__section {
    padding: 0;
  }

  .form__selection-title {
    margin: 0;
    @include page-wrapper;
  }

  .form__selection-description {
    margin-left: 0;
    @include page-wrapper;
  }

  .form__wrapper {
    padding: 0;
  }

  .form__wrapper--user {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    margin-bottom: 70px;
    @include page-wrapper;
  }

  .form__wrapper--contact {
    margin-bottom: 70px;
  }

  .form__wrapper--comment {
    margin-bottom: 65px;
  }

  .form__wrapper--additional {
    margin-bottom: 63px;
  }

  .form__block--checkbox {
    grid-template-columns: 20% 20% 20% 20%;
  }

  .form__block--contact {
    display: flex;
    align-items: center;
    @include page-wrapper;
  }

  .form__label--user {
    margin-right: 20px;
  }

  .form__line--user {
    margin-bottom: 23px;
  }

  .form__line--contact {
    margin: 0;
    width: 486px;

    &:first-child {
      margin-right: auto;
    }
  }

  .form__line--checkbox {
    flex-basis: 25%;
    margin: 0;
  }

  .form__field--user {
    height: 50px;
  }

  .form__field--contact {
    width: 125px;
  }

  .form__title {
    margin-left: -40px;
    padding: 0 40px;
  }

  .form__button {
    padding: 16px 208px;
    margin-right: 77px;
  }

  .form__block--button {
    margin-top: 60px;
    margin-bottom: 82px;
    @include page-wrapper;
  }
}
