.main-nav {
  width: 100%;
}

.main-nav__wrapper {
  display: none;
}

.main-nav__toggle {
  background-image: url("../../img/burger.svg");
  background-color: inherit;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 24px;
  height: 16px;
  padding: 0;

  position: absolute;
  right: 30px;
  top: 27px;

  cursor: pointer;

  &::before {
    content: "";
    width: 24px;
    height: 1.5px;
    background-color: #000000;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 6px;
    display: none;
  }

  &::after {
    content: "";
    width: 24px;
    height: 1.5px;
    background-color: #000000;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 6px;
    display: none;
  }
}

.main-nav__toggle:active {
  background-image: none;
  outline: none;

  &::before {
    display: block;
    transform: rotate(45deg);
  }

  &::after {
    display: block;
    transform: rotate(-45deg);
  }
}
