.main-nav {
  width: 100vw;
}

.main-nav__list {
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  list-style: none;
}

.main-nav__toggle {
  position: absolute;
  top: 25px;
  right: 20px;
  display: block;
  width: 24px;
  height: 16px;
  margin-top: -4px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 1.5px;
    background-color: #000000;
    box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
  }

  .main-nav--opened .main-nav__toggle {
    background-color: transparent;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 24px;
      height: 1.5px;
      background-color: #000000;
      box-sizing: border-box;
      top: 9px;
      left: 0;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--closed .main-nav__list {
  display: none;
}

.main-nav--nojs .main-nav__list {
  display: block;
}


@media (min-width: $tablet-width) {
  .main-nav {
    width: auto;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav--closed .main-nav__list {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  
}