.page-footer {
  padding: 40px 20px 0 20px;
  text-align: center;
  background-color: #f2f2f2;
}

.page-footer__logo {
  display: inline-block;
  margin: 0 20px 32px 0;
}

.page-footer__socials {
    margin-bottom: 20px;
}

.social__list {
  list-style: none;
}

.copyright__link {
font-family: "Arial", sans-serif;
font-weight: normal;
font-size: 16px;
line-height: 18px;
color: #444444;

margin: 0 187px 32px 0;
text-decoration: none;
}
