.page-footer {
  padding: 35px 20px 0 20px;
  text-align: center;
  background-color: #f2f2f2;
}

.page-footer__logo {
  display: inline-block;
}

.page-footer__social {
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    align-items: center;
    padding: 45px 30px;
  }

}

@media (min-width: $desktop-width) {
  .page-footer {
    padding-top: 54px;
    @include page-wrapper;
  }
}
