.page-header {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  padding: 12px 20px;
  padding-bottom: 0;
}

.page-header__logo {
  margin-right: 80px;
}

@media (min-width: $tablet-width) {
  .page-header {
    padding: 25px 30px;
    flex-direction: row;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding: 55px 0;
    @include page-wrapper;
  }

  .page-header--index {
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  .page-header__logo {
    margin-right: 500px;
  }
}
