.product-card {
  border-bottom: 1px solid #ebebeb;
  padding: 0 20px 25px 20px;
}

.product-card__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-card__wrapper {
  display: flex;
}

.product-card__info {
  width: 140px;
  margin-left: auto;
}

.product-card__description {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  color: #444444;
  margin: 0;
}

.product-card__item {
  display: flex;
  margin-bottom: 4px;
}

.product-card__link {
  display: block;
  text-align: center;
}

.product-card__name {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #222222;
  padding: 0 50px 0 0;
  margin: 0 0 20px 0;
}

@media (min-width: $tablet-width) {
  .product-card {
    position: relative;
    padding: 20px 37px 40px 37px;
    background-color: #f2f2f2;
  }

  .product-card__wrapper {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .product-card__info {
    width: 100%;
    text-align: center;
    margin: 0;
  }

  .product-card__name {
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
    max-width: 150px;
    padding: 0;
    margin: 140px auto 20px auto;
  }

  .product-card__item {
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }

  .product-card__description {
    font-size: 16px;
  }

}

@media (min-width: $desktop-width) {
  .product-card {
    padding: 0 110px;
  }

  .product-card {
    position: relative;
    padding: 20px 37px 40px 37px;
  }

  .product-card__list {
    margin: -70px -40px;
  }

  .product-card__item {
    display: flex;
    flex-wrap: wrap;
    width: calc(25% - 80px);
    margin: 70px 40px;
    margin-bottom: 4px;
    background-color: #f2f2f2;
  }
}
