.product-card {
  border-bottom: 1px solid #ebebeb;
  padding: 0 20px 25px 20px;
}

.product-card__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-card__info {
  width: 140px;
  margin-left: auto;
  padding-top: 20px;
}

.product-card__item {
  display: flex;
  margin-bottom: 4px;
}

.product-card__wrapper {
  display: flex;
}

.product-card__description {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  color: #444444;
  margin: 0;

  &:first-child {
    margin-right: auto;
  }
}

.product-card__link {
  font-size: 16px;
  display: block;
  text-align: center;
}

.product-card__link--all {
  background-color: #f2f2f2;
  color: #444444;
}

.product-card__title {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
}

.product-card__title--all {
  position: relative;
  padding: 50px 0 0 0;
  margin: 25px 0 10px 0;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url("../../img/plus.svg");
    background-repeat: no-repeat;
    transform: translateX(-50%);
    left: 50%;
    top: -10px;
  }
}

.product-card__more {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
}

.product-card__link--image {
  line-height: 0;
  margin: 30px 0 0 auto
}

.product-card__name {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #222222;
  padding: 0 50px 0 0;
  margin: 0 0 20px 0;
}

@media (min-width: $tablet-width) {
  .product-card {
    padding: 0;
    position: relative;
    border: none;
  }

  .product-card__wrapper {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .product-card__info {
    width: 100%;
    text-align: center;
    margin: 0;
  }

  .product-card__name {
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
    max-width: 150px;
    padding: 0;
    margin: 120px auto 20px auto;
  }

  .product-card__item {
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }

  .product-card__link--image {
    position: absolute;
    bottom: 300px;
    margin: 0;
  }

  .product-card__image--small {
    margin-top: 30px;
  }


  .product-card__description {
    font-size: 16px;
  }

  .product-card__title {
    font-size: 20px;
    line-height: 20px;
    padding: 130px 17px 20px 17px;
    margin: 0;
  }

  .product-card__more {
    font-size: 16px;
    line-height: 18px;
    padding: 0 17px 100px 17px;
    margin: 0;
  }

  .product-card__title--all {
    &::before {
      content: "";
      width: 60px;
      height: 60px;
      background-image: url("../../img/plus-tablet.svg");
      top: 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .product-card__link--all {
    padding: 10px 10px;
  }

  .product-card__more {
    padding-bottom: 60px;
  }

  .product-card__link--image {
    bottom: 300px;
  }
}
