.program {
  padding: 0 20px;
}

.program__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.program__item {
  background: #f2f2f2;
  padding: 30px 20px 20px 20px;
  margin-bottom: 20px;
}

.program__title {
  position: relative;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0 0 30px 0;
  padding: 0 0 0 70px;

  &::before {
    content: "";
    min-width: 50px;
    height: 50px;
    background-color: #68b738;
    position: absolute;
    border-radius: 50%;
    left: 0;
    top: -5px;
  }
}

.program__title--small {
  &::after {
    content: "";
    background-image: url("../../img/cat-small.svg");
    background-repeat: no-repeat;
    width: 36px;
    height: 50px;
    position: absolute;
    left: 9px;
    top: -8px;
  }
}

.program__title--mass {
  &::after {
    content: "";
    background-image: url("../../img/cat-mass.svg");
    background-repeat: no-repeat;
    width: 67px;
    height: 28px;
    position: absolute;
    left: -13px;
    top: 5px;
  }
}

.program__text {
  font-family: "Arial";
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0 33px 57px 20px;
}

.program__catalog {
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  color: #000000;
  margin: 0 0 0 20px;

  &::after {
    content: "";
    width: 32px;
    height: 10px;
    background-image: url("../../img/icon_arrow.svg");
    background-repeat: no-repeat;
    position: absolute;
    left: 102px;
    top: 7px;
  }

  &:hover {
    &::after {
      background-image: url("../../img/icon_arrow-hover.svg");
    }
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .program {
    padding: 0 30px;
  }

  .program__item {
    background: #f2f2f2;
    padding: 77px 53px 53px 53px;
    margin-bottom: 30px;
  }

  .program__catalog {
    font-size: 20px;
    line-height: 30px;
    margin: 0;

    &::after {
      left: 130px;
      top: 10px;
    }
  }

  .program__title {
    position: relative;
    font-size: 36px;
    line-height: 36px;
    padding: 0;
    margin: 0 0 25px 0;

    &::before {
      content: "";
      width: 200px;
      height: 200px;
      background-color: #68b738;
      border-radius: 50%;
      position: absolute;
      left: auto;
      right: 0;
      top: 0;
    }
  }

  .program__title--small {
    &::after {
      content: "";
      background-image: url("../../img/cat-small-tablet.svg");
      background-repeat: no-repeat;
      width: 140px;
      height: 192px;
      position: absolute;
      left: auto;
      right: 20px;
      top: -8px;
    }
  }

  .program__title--mass {
    &::after {
      content: "";
      background-image: url("../../img/cat-mass-tablet.svg");
      background-repeat: no-repeat;
      width: 268px;
      height: 112px;
      position: absolute;
      left: auto;
      right: -20px;
      top: 35px;
    }
  }

  .program__text {
    width: 377px;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 48px 0;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .program {
    @include page-wrapper;
  }

  .program__list {
    display: grid;
    grid-template-columns: repeat(2, 47%);
    row-gap: 15px;
    column-gap: 74px;
  }

  .program__item {
    padding: 75px 50px 50px 50px;
    margin: 0;
  }

  .program__text {
    width: 467px;
    margin-bottom: 23px;
  }

  .program__title {
    position: relative;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0 0 75px 0;
    padding: 0 0 0 160px;

    &::before {
      content: "";
      width: 100px;
      height: 100px;
      background-color: #68b738;
      position: absolute;
      border-radius: 50%;
      left: 0;
      top: -30px;
    }
  }

  .program__title--small {
    &::after {
      content: "";
      background-image: url("../../img/cat-small-desktop.svg");
      background-repeat: no-repeat;
      width: 70px;
      height: 97px;
      position: absolute;
      left: 16px;
      top: -35px;
    }
  }

  .program__title--mass {
    &::after {
      content: "";
      background-image: url("../../img/cat-mass-desktop.svg");
      background-repeat: no-repeat;
      width: 134px;
      height: 56px;
      position: absolute;
      left: -18px;
      top: -10px;
    }
  }

  .program__catalog {
    margin-bottom: 55px;
  }
}
