.site-list {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  list-style: none;
  text-transform: uppercase;
  padding: 0;
}

.site-list__item {
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  width: 100%;
}

.site-list__link {
  display: block;
  padding: 22px 0 24px 0;
  text-align: center;
}

.site-list__link {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    width: 440px;
    display: flex;
    white-space: nowrap;
    align-items: center;
    margin: 0;
  }

  .site-list__item {
    border: none;
    margin: 0;
    margin-right: 34px;
  }

  .site-list__link {
    padding: 0;
  }

  .site-list__link--active {
    border-bottom: 2px solid #68b738;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    font-size: 20px;
    font-family: 30px;
    width: 478px;
  }

  .site-list__link {
    color: #ffffff;
    border-color: #ffffff;
  }
}

